/* birinci usul */
.iconDiv{
    width: 60px;
    height: 60px;
    border-radius: 14px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid blue;
    transition: all .3s ease;
}

.iconDiv i {
    color: #fff;
    font-size: 20px;
}

.iconDiv:hover i {
    color: blue;
}

.iconDiv:hover {
    background-color: #fff;
    border-color: blue;
}

/* ikinci usul */
.myIcon{
    width: 60px;
    height: 60px;
    background-color: red;
    color: white;
    text-align: center;
    line-height: 60px;
    border-radius: 10px;
    font-size: 20px;
    border: 2px dashed red;
    transition: all .3s ease;
}

.myIcon:hover{
    color: red;
    background-color: #fff;
    border-color: red;
}


.box{
    width: 400px;
    height: 300px;
    background-color: #F6D8DD;
    margin-top: 30px;
    position: relative;
    display: inline-block;
}

.box img{
    width: 160px;
    height: 160px;
    object-fit: cover;
    position: absolute;
    right: 0;
    bottom: 0;
}

.transformText{
    width: 200px;
    height: 80px;
    background-color: #CBD9FB;
    display: flex;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
}

.transformText i{
    transition: all .3s ease;
}

.transformText:hover i {
   transform: translateX(10px);
}



/* Transform */

.iconDiv{
    /* transform: translateX(-40px); */
    /* transform: translateY(50px); */
    /* transform: translate(40px, 50px); */

    /* transform: scale(1.3); */
    /* transform: scaleX(1.5); */
    /* transform: scaleY(2); */

    /* transform: rotate(-20deg); */
    
    /* transform: skew(-20deg); */

    animation-name: myAnimation;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
}

@keyframes myAnimation {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(12px);
    }
    50%{
        transform: translateX(30px);
    }
    75%{
        transform: translate(12px);
    }
    100%{
        transform: translateX(0);
    }
}

.newIcon{
    animation: animation1 2s infinite;
}


@keyframes animation1 {
    0%{
        transform: scale(0);
        color: red;
    }
    50%{
        transform: scale(1.3);
        color: black;
    }
    100%{
        transform: scale(0);
        color: blue;
    }
}