.new{
    color: red;
    font-size: 20px;
    font-weight: bold;
}

html{
    overflow-x: hidden;
}

.menu{
    width: 300px;
    height: 100vh;
    background-color: bisque;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: all .4s ease;
    z-index: 3;
}

button{
    position: absolute;
    top: 30px;
    right: 30px;
}

.close{
    background-color: blue;
    color: #ffff;
    border: navajowhite;
    outline: none;
}